
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(7d83ff_archivo_latin_wght_normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: url(f02559_archivo_latin_wght_italic.woff2) format('woff2');
}
